workflow.json
{
  "name": "Smart Competitor Intelligence System",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 20
            }
          ]
        }
      },
      "id": "node-01-schedule",
      "name": "Every Sunday 8PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [208, 400]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "1", "name": "weekDate", "value": "={{ $now.format('yyyy-MM-dd') }}", "type": "string"},
            {"id": "2", "name": "previousWeekDate", "value": "={{ $now.minus({weeks: 1}).format('yyyy-MM-dd') }}", "type": "string"},
            {"id": "3", "name": "yourCompanyName", "value": "Your Company", "type": "string"},
            {"id": "4", "name": "yourIndustry", "value": "Tech / SaaS", "type": "string"},
            {"id": "5", "name": "groqModel", "value": "llama-3.3-70b-versatile", "type": "string"},
            {"id": "6", "name": "maxTokens", "value": "=4096", "type": "number"},
            {"id": "7", "name": "googleSheetsId", "value": "YOUR_GOOGLE_SHEETS_ID", "type": "string"},
            {"id": "8", "name": "googleDriveFolderId", "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID", "type": "string"},
            {"id": "9", "name": "discordWebhookUrl", "value": "YOUR_DISCORD_WEBHOOK_URL", "type": "string"},
            {"id": "11", "name": "competitor1Name", "value": "Competitor A", "type": "string"},
            {"id": "12", "name": "competitor1Url", "value": "https://competitor-a.com/pricing", "type": "string"},
            {"id": "13", "name": "competitor2Name", "value": "Competitor B", "type": "string"},
            {"id": "14", "name": "competitor2Url", "value": "https://competitor-b.com/pricing", "type": "string"},
            {"id": "15", "name": "competitor3Name", "value": "Competitor C", "type": "string"},
            {"id": "16", "name": "competitor3Url", "value": "https://competitor-c.com/pricing", "type": "string"},
            {"id": "17", "name": "productHuntRssUrl", "value": "https://www.producthunt.com/feed", "type": "string"},
            {"id": "18", "name": "industryRssUrl", "value": "https://news.ycombinator.com/rss", "type": "string"}
          ]
        },
        "options": {}
      },
      "id": "node-02-config",
      "name": "Set Weekly Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [448, 400]
    },
    {
      "parameters": {
        "url": "={{ $('Set Weekly Config').item.json.competitor1Url }}",
        "options": {"response": {"response": {"neverError": true}}, "timeout": 30000}
      },
      "id": "node-03-http-comp1",
      "name": "Fetch Competitor A Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [704, 160],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Set Weekly Config').item.json.competitor2Url }}",
        "options": {"response": {"response": {"neverError": true}}, "timeout": 30000}
      },
      "id": "node-04-http-comp2",
      "name": "Fetch Competitor B Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [704, 352],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Set Weekly Config').item.json.competitor3Url }}",
        "options": {"response": {"response": {"neverError": true}}, "timeout": 30000}
      },
      "id": "node-05-http-comp3",
      "name": "Fetch Competitor C Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [704, 528],
      "continueOnFail": true
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {"key": "pageTitle", "cssSelector": "title"},
            {"key": "h1Headings", "cssSelector": "h1, h2"},
            {"key": "pricingContent", "cssSelector": ".pricing, #pricing, [class*='price'], [class*='plan']"},
            {"key": "featureContent", "cssSelector": ".features, #features, [class*='feature']"},
            {"key": "mainContent", "cssSelector": "main, article, .content"}
          ]
        },
        "options": {}
      },
      "id": "node-06-html-comp1",
      "name": "Extract Competitor A Data",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [944, 160]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {"key": "pageTitle", "cssSelector": "title"},
            {"key": "h1Headings", "cssSelector": "h1, h2"},
            {"key": "pricingContent", "cssSelector": ".pricing, #pricing, [class*='price'], [class*='plan']"},
            {"key": "featureContent", "cssSelector": ".features, #features, [class*='feature']"},
            {"key": "mainContent", "cssSelector": "main, article, .content"}
          ]
        },
        "options": {}
      },
      "id": "node-07-html-comp2",
      "name": "Extract Competitor B Data",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [944, 352]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {"key": "pageTitle", "cssSelector": "title"},
            {"key": "h1Headings", "cssSelector": "h1, h2"},
            {"key": "pricingContent", "cssSelector": ".pricing, #pricing, [class*='price'], [class*='plan']"},
            {"key": "featureContent", "cssSelector": ".features, #features, [class*='feature']"},
            {"key": "mainContent", "cssSelector": "main, article, .content"}
          ]
        },
        "options": {}
      },
      "id": "node-08-html-comp3",
      "name": "Extract Competitor C Data",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [944, 528]
    },
    {
      "parameters": {
        "url": "={{ $('Set Weekly Config').item.json.productHuntRssUrl }}",
        "options": {}
      },
      "id": "node-09-rss-ph",
      "name": "RSS - Product Hunt",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [704, 704],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "={{ $('Set Weekly Config').item.json.industryRssUrl }}",
        "options": {}
      },
      "id": "node-10-rss-industry",
      "name": "RSS - Industry News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [704, 880],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst config = $('Set Weekly Config').first().json;\nconst weekDate = config.weekDate;\nconst normalized = [];\n\nfor (const item of items) {\n  const d = item.json;\n  let source = 'web', competitorName = 'Unknown', content = '', itemUrl = '', pubDate = weekDate;\n\n  if (d.link || d.guid || d.pubDate) {\n    source = 'rss';\n    competitorName = 'Industry';\n    content = (d.contentSnippet || d.content || d.description || '').substring(0, 800);\n    itemUrl = d.link || d.guid || '';\n    pubDate = d.pubDate || weekDate;\n  } else {\n    const title = (d.pageTitle || '').toLowerCase();\n    if (title.includes((config.competitor1Name || '').toLowerCase())) {\n      competitorName = config.competitor1Name; itemUrl = config.competitor1Url;\n    } else if (title.includes((config.competitor2Name || '').toLowerCase())) {\n      competitorName = config.competitor2Name; itemUrl = config.competitor2Url;\n    } else {\n      competitorName = config.competitor3Name || 'Unknown'; itemUrl = config.competitor3Url || '';\n    }\n    const parts = [d.pageTitle, d.h1Headings, d.pricingContent, d.featureContent, d.mainContent].filter(Boolean);\n    content = parts.join(' | ').substring(0, 1200);\n  }\n\n  if (content.trim()) {\n    normalized.push({ source, competitor: competitorName, title: d.title || d.pageTitle || 'No Title', content: content.trim(), url: itemUrl, pubDate, weekDate });\n  }\n}\n\nreturn [{ json: { allData: normalized, totalItems: normalized.length, weekDate, collectedAt: new Date().toISOString() } }];"
      },
      "id": "node-11-aggregate",
      "name": "Aggregate All Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1184, 480]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "RawData",
          "mode": "name"
        },
        "options": {}
      },
      "id": "node-12-sheets-read",
      "name": "Read Previous Week Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [704, 1072],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "node-13-merge",
      "name": "Merge Current + History",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1424, 704]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst config = $('Set Weekly Config').first().json;\n\nlet currentData = null;\nconst previousRows = [];\n\nfor (const item of items) {\n  const d = item.json;\n  if (d.allData) { currentData = d; }\n  else if (d.weekDate === config.previousWeekDate) { previousRows.push(d); }\n}\n\nif (!currentData) { currentData = { allData: [], totalItems: 0, weekDate: config.weekDate }; }\n\nconst comparisonContext = previousRows.length > 0\n  ? `PREVIOUS WEEK DATA (${config.previousWeekDate}):\\n${JSON.stringify(previousRows.slice(0, 15), null, 2)}`\n  : 'No previous week data available (first run or data gap).';\n\nconst dataForAgent = currentData.allData.slice(0, 30).map(item => ({\n  source: item.source,\n  competitor: item.competitor,\n  title: item.title.substring(0, 100),\n  content: item.content.substring(0, 600),\n  url: item.url,\n  pubDate: item.pubDate\n}));\n\nreturn [{ json: {\n  weekDate: config.weekDate,\n  previousWeekDate: config.previousWeekDate,\n  yourCompany: config.yourCompanyName,\n  industry: config.yourIndustry,\n  groqModel: config.groqModel,\n  maxTokens: config.maxTokens,\n  currentData: dataForAgent,\n  totalSourcesCollected: currentData.totalItems,\n  comparisonContext,\n  previousDataAvailable: previousRows.length > 0\n} }];"
      },
      "id": "node-14-compare",
      "name": "Compare & Prepare Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1664, 704]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst SYSTEM_PROMPT = `You are the Scout Agent in a Multi-Agent Competitor Intelligence System for ${d.yourCompany} in the ${d.industry} space.\n\nYour mission: Organize raw competitor data collected this week (${d.weekDate}) into a structured intelligence brief.\n\nTASKS:\n1. Categorize findings by competitor\n2. Flag significant changes: new features, pricing shifts, messaging updates, product launches\n3. Compare with previous week if available\n4. Assess data completeness\n\nRespond ONLY with valid JSON:\n{\n  \"intelligence_week\": \"${d.weekDate}\",\n  \"sources_analyzed\": <number>,\n  \"competitors\": [\n    {\n      \"name\": \"<name>\",\n      \"key_changes_this_week\": [\"change\"],\n      \"new_features_detected\": [\"feature\"],\n      \"pricing_signals\": \"<pricing or 'no data'>\",\n      \"content_themes\": [\"theme\"],\n      \"market_positioning\": \"<positioning>\",\n      \"confidence\": \"high/medium/low\",\n      \"vs_last_week\": \"<change vs prev or 'no comparison data'>\"\n    }\n  ],\n  \"market_signals\": [{\"signal\": \"<desc>\", \"source\": \"<src>\", \"significance\": \"high/medium/low\", \"potential_impact_on_us\": \"<impact>\"}],\n  \"top_3_developments\": [{\"rank\": 1, \"development\": \"<dev>\", \"urgency\": \"high/medium/low\"}],\n  \"week_summary\": \"<2-3 sentence summary>\"\n}`;\n\nreturn [{ json: {\n  requestPayload: {\n    model: d.groqModel,\n    messages: [\n      { role: 'system', content: SYSTEM_PROMPT },\n      { role: 'user', content: `CURRENT WEEK DATA (${d.weekDate}):\\n${JSON.stringify(d.currentData, null, 2)}\\n\\n${d.comparisonContext}` }\n    ],\n    temperature: 0.2,\n    max_tokens: d.maxTokens\n  },\n  passThrough: d\n} }];"
      },
      "id": "node-15-prep-scout",
      "name": "Prepare Scout Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1904, 704]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "Raw",
        "body": "={{ JSON.stringify($json.requestPayload) }}",
        "options": {"timeout": 120000}
      },
      "id": "node-16-scout-groq",
      "name": "Scout Agent [Groq]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2144, 704],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst passThrough = $('Prepare Scout Request').first().json.passThrough;\nconst rawContent = response.choices?.[0]?.message?.content || '';\nlet parsed = null;\ntry { const m = rawContent.match(/\\{[\\s\\S]*\\}/); if (m) parsed = JSON.parse(m[0]); } catch(e) {}\nreturn [{ json: { ...passThrough, scoutBrief: parsed || { raw: rawContent.substring(0, 1000) }, tokenUsage: { scout: response.usage?.total_tokens || 0 }, agentChain: ['Scout'] } }];"
      },
      "id": "node-17-parse-scout",
      "name": "Parse Scout Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2384, 704]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst SYSTEM_PROMPT = `You are the Analyst Agent in a Multi-Agent Competitor Intelligence System for ${d.yourCompany} in the ${d.industry} space.\n\nYou receive a Scout brief and produce deep competitive analysis.\n\nYour role:\n1. Analyze positioning and strategy shifts with evidence\n2. Assess product development trajectories and feature velocity\n3. Identify competitive threats (1-10 severity) and opportunities\n4. Predict likely next moves per competitor\n\nRespond ONLY with valid JSON:\n{\n  \"analysis_date\": \"${d.weekDate}\",\n  \"competitive_landscape\": {\"overall_intensity\": \"high/medium/low\", \"market_phase\": \"growth/maturity/disruption\", \"key_dynamics\": [\"dynamic\"]},\n  \"competitor_deep_dives\": [{\"competitor\": \"<name>\", \"strategic_direction\": \"<dir>\", \"feature_velocity\": \"accelerating/steady/slowing\", \"pricing_strategy\": \"<strategy>\", \"predicted_next_moves\": [\"move (confidence: high)\"], \"evidence_base\": [\"evidence\"]}],\n  \"threat_matrix\": [{\"threat\": \"<desc>\", \"competitor\": \"<name>\", \"severity\": 1, \"timeline\": \"immediate/3-6 months/6-12 months\", \"evidence\": \"<data>\"}],\n  \"opportunity_matrix\": [{\"opportunity\": \"<desc>\", \"type\": \"gap/positioning/timing\", \"potential_impact\": \"high/medium/low\", \"evidence\": \"<why>\", \"capture_window\": \"<window>\"}],\n  \"key_insights\": [\"insight 1\", \"insight 2\"],\n  \"analyst_confidence\": \"high/medium/low\"\n}`;\n\nreturn [{ json: {\n  requestPayload: {\n    model: d.groqModel,\n    messages: [\n      { role: 'system', content: SYSTEM_PROMPT },\n      { role: 'user', content: `Analyze this Scout brief:\\n${JSON.stringify(d.scoutBrief, null, 2)}` }\n    ],\n    temperature: 0.3,\n    max_tokens: d.maxTokens\n  },\n  passThrough: d\n} }];"
      },
      "id": "node-18-prep-analyst",
      "name": "Prepare Analyst Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2624, 704]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "raw",
        "body": "={{ JSON.stringify($json.requestPayload) }}",
        "options": {"timeout": 120000}
      },
      "id": "node-19-analyst-groq",
      "name": "Analyst Agent [Groq]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2864, 704],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst passThrough = $('Prepare Analyst Request').first().json.passThrough;\nconst rawContent = response.choices?.[0]?.message?.content || '';\nlet parsed = null;\ntry { const m = rawContent.match(/\\{[\\s\\S]*\\}/); if (m) parsed = JSON.parse(m[0]); } catch(e) {}\nreturn [{ json: { ...passThrough, analystReport: parsed || { raw: rawContent.substring(0, 1000) }, tokenUsage: { ...passThrough.tokenUsage, analyst: response.usage?.total_tokens || 0 }, agentChain: [...(passThrough.agentChain||[]), 'Analyst'] } }];"
      },
      "id": "node-20-parse-analyst",
      "name": "Parse Analyst Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3104, 704]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst SYSTEM_PROMPT = `You are the Critic Agent in a Multi-Agent Competitor Intelligence System for ${d.yourCompany}.\n\nYour role is quality control and intellectual rigor. Challenge and refine the Analyst's assessment.\n\nCRITIQUE FRAMEWORK:\n1. Flag claims lacking evidence from the Scout brief\n2. Detect confirmation bias and overconfidence\n3. Offer alternative interpretations for competitor behavior\n4. Recalibrate threat/opportunity scores with weak evidence\n5. Identify angles the Analyst missed\n\nRespond ONLY with valid JSON:\n{\n  \"critique_date\": \"${d.weekDate}\",\n  \"overall_analysis_quality\": \"excellent/good/fair/poor\",\n  \"quality_score\": 1,\n  \"strengths\": [\"strength\"],\n  \"critical_issues\": [{\"issue\": \"<issue>\", \"original_claim\": \"<claim>\", \"why_problematic\": \"<why>\", \"severity\": \"high/medium/low\"}],\n  \"unsupported_claims\": [{\"claim\": \"<claim>\", \"required_evidence\": \"<what's needed>\"}],\n  \"alternative_interpretations\": [{\"original_finding\": \"<finding>\", \"alternative\": \"<alt>\", \"plausibility\": \"high/medium/low\"}],\n  \"recalibrated_threats\": [{\"threat\": \"<desc>\", \"analyst_severity\": 1, \"critic_severity\": 1, \"rationale\": \"<why>\"}],\n  \"missed_angles\": [\"angle\"],\n  \"validated_findings\": [\"finding with strong evidence\"]\n}`;\n\nreturn [{ json: {\n  requestPayload: {\n    model: d.groqModel,\n    messages: [\n      { role: 'system', content: SYSTEM_PROMPT },\n      { role: 'user', content: `Review this intelligence chain:\\n\\nSCOUT:\\n${JSON.stringify(d.scoutBrief, null, 2)}\\n\\nANALYST:\\n${JSON.stringify(d.analystReport, null, 2)}` }\n    ],\n    temperature: 0.4,\n    max_tokens: d.maxTokens\n  },\n  passThrough: d\n} }];"
      },
      "id": "node-21-prep-critic",
      "name": "Prepare Critic Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3344, 704]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "raw",
        "body": "={{ JSON.stringify($json.requestPayload) }}",
        "options": {"timeout": 120000}
      },
      "id": "a1f719e8-f5c2-4121-8449-44eb428696a7",
      "name": "Critic Agent [Groq]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3584, 704],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst passThrough = $('Prepare Critic Request').first().json.passThrough;\nconst rawContent = response.choices?.[0]?.message?.content || '';\nlet parsed = null;\ntry { const m = rawContent.match(/\\{[\\s\\S]*\\}/); if (m) parsed = JSON.parse(m[0]); } catch(e) {}\nreturn [{ json: { ...passThrough, critique: parsed || { raw: rawContent.substring(0, 1000) }, tokenUsage: { ...passThrough.tokenUsage, critic: response.usage?.total_tokens || 0 }, agentChain: [...(passThrough.agentChain||[]), 'Critic'] } }];"
      },
      "id": "node-23-parse-critic",
      "name": "Parse Critic Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3824, 704]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst SYSTEM_PROMPT = `You are the Strategist Agent in a Multi-Agent Competitor Intelligence System for ${d.yourCompany} in the ${d.industry} space.\n\nSynthesize the full intelligence chain into actionable strategic recommendations.\n\nFRAMEWORK:\n1. IMMEDIATE (0-2 weeks): Urgent threat responses\n2. SHORT-TERM (1-3 months): Tactical competitive moves\n3. MEDIUM-TERM (3-6 months): Strategic opportunity capture\n\nRespond ONLY with valid JSON:\n{\n  \"strategy_date\": \"${d.weekDate}\",\n  \"strategic_summary\": \"<2-3 sentence executive summary>\",\n  \"this_weeks_top_priority\": {\"action\": \"<action>\", \"rationale\": \"<why>\", \"deadline\": \"<date>\", \"owner\": \"<team/role>\"},\n  \"immediate_actions\": [{\"action\": \"<action>\", \"rationale\": \"<why>\", \"evidence_basis\": \"<intel>\", \"timeline\": \"<time>\", \"priority\": 1, \"success_metric\": \"<metric>\", \"estimated_effort\": \"low/medium/high\"}],\n  \"short_term_strategy\": [{\"initiative\": \"<init>\", \"objective\": \"<obj>\", \"competitive_rationale\": \"<rationale>\", \"priority\": 1}],\n  \"opportunities_to_capture\": [{\"opportunity\": \"<opp>\", \"capture_method\": \"<how>\", \"window\": \"<how long>\", \"estimated_impact\": \"high/medium/low\"}],\n  \"risks_to_mitigate\": [{\"risk\": \"<risk>\", \"mitigation\": \"<action>\", \"severity\": 1}],\n  \"kpis_to_monitor_next_week\": [\"KPI\"],\n  \"signals_to_watch\": [\"signal\"]\n}`;\n\nreturn [{ json: {\n  requestPayload: {\n    model: d.groqModel,\n    messages: [\n      { role: 'system', content: SYSTEM_PROMPT },\n      { role: 'user', content: `Build strategy from:\\n\\nSCOUT:\\n${JSON.stringify(d.scoutBrief, null, 2)}\\n\\nANALYST:\\n${JSON.stringify(d.analystReport, null, 2)}\\n\\nCRITIC:\\n${JSON.stringify(d.critique, null, 2)}` }\n    ],\n    temperature: 0.5,\n    max_tokens: d.maxTokens\n  },\n  passThrough: d\n} }];"
      },
      "id": "node-24-prep-strat",
      "name": "Prepare Strategist Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4064, 704]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "raw",
        "body": "={{ JSON.stringify($json.requestPayload) }}",
        "options": {"timeout": 120000}
      },
      "id": "node-25-strat-groq",
      "name": "Strategist Agent [Groq]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4304, 704],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst passThrough = $('Prepare Strategist Request').first().json.passThrough;\nconst rawContent = response.choices?.[0]?.message?.content || '';\nlet parsed = null;\ntry { const m = rawContent.match(/\\{[\\s\\S]*\\}/); if (m) parsed = JSON.parse(m[0]); } catch(e) {}\nreturn [{ json: { ...passThrough, strategy: parsed || { raw: rawContent.substring(0, 1000) }, tokenUsage: { ...passThrough.tokenUsage, strategist: response.usage?.total_tokens || 0 }, agentChain: [...(passThrough.agentChain||[]), 'Strategist'] } }];"
      },
      "id": "node-26-parse-strat",
      "name": "Parse Strategist Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4544, 704]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst reportDate = new Date(d.weekDate).toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\nconst SYSTEM_PROMPT = `You are the Writer Agent in a Multi-Agent Competitor Intelligence System for ${d.yourCompany}.\n\nTransform the complete intelligence chain into a polished Markdown report for executive stakeholders.\n\nREQUIREMENTS:\n- Professional business English\n- Use confidence indicators: [HIGH CONFIDENCE], [MEDIUM CONFIDENCE], [ASSESSMENT]\n- Actionable: help readers make decisions\n- Target 1500-2000 words\n- Output Markdown ONLY — no JSON\n\nSTRUCTURE:\n# Weekly Competitor Intelligence Report\n## ${reportDate} | Confidential\n\n---\n\n## Executive Summary\n[3-4 paragraphs: landscape overview, most critical development, top strategic implication, key action needed]\n\n## This Week's Top Priority\n[Single most important action with rationale and deadline]\n\n## Competitor Analysis\n### [Competitor 1]\n[Key changes, product signals, messaging shifts, implications]\n\n### [Competitor 2 & 3...]\n[Same structure]\n\n## Threat Assessment\n| Threat | Competitor | Severity | Timeline | Response |\n|--------|-----------|---------|---------|----------|\n\n## Strategic Opportunities\n[Bullet list: opportunity, why now, capture method, window]\n\n## Recommended Actions\n### Immediate (This Week)\n[Prioritized actions with owner and metric]\n\n### Short-Term (1-3 Months)\n[Strategic initiatives]\n\n## Signals to Watch Next Week\n[Early warning indicators]\n\n---\n*AI Intelligence System | ${d.weekDate} | Agents: Scout → Analyst → Critic → Strategist → Writer*`;\n\nreturn [{ json: {\n  requestPayload: {\n    model: d.groqModel,\n    messages: [\n      { role: 'system', content: SYSTEM_PROMPT },\n      { role: 'user', content: `Generate the final report from:\\n\\nSCOUT:\\n${JSON.stringify(d.scoutBrief, null, 2)}\\n\\nANALYST:\\n${JSON.stringify(d.analystReport, null, 2)}\\n\\nCRITIC:\\n${JSON.stringify(d.critique, null, 2)}\\n\\nSTRATEGY:\\n${JSON.stringify(d.strategy, null, 2)}` }\n    ],\n    temperature: 0.6,\n    max_tokens: d.maxTokens\n  },\n  passThrough: d\n} }];"
      },
      "id": "node-27-prep-writer",
      "name": "Prepare Writer Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4784, 704]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "raw",
        "body": "={{ JSON.stringify($json.requestPayload) }}",
        "options": {"timeout": 120000}
      },
      "id": "node-28-writer-groq",
      "name": "Writer Agent [Groq]",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5072, 704],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst d = $('Prepare Writer Request').first().json.passThrough;\nconst markdownReport = response.choices?.[0]?.message?.content || '# Report Generation Failed';\nconst writerTokens = response.usage?.total_tokens || 0;\nconst totalTokens = Object.values(d.tokenUsage || {}).reduce((s, v) => s + (typeof v === 'number' ? v : 0), 0) + writerTokens;\n\nconst firstParagraphs = markdownReport.split('\\n').slice(0, 20).join('\\n');\nconst execMatch = markdownReport.match(/## Executive Summary\\n([\\s\\S]*?)\\n##/);\nconst execSummary = execMatch ? execMatch[1].trim().substring(0, 500) : firstParagraphs.substring(0, 500);\n\nconst discordSummary = `**Weekly Competitor Intelligence - ${d.weekDate}**\\n\\n${execSummary.substring(0, 1400)}...\\n\\n*Agents: Scout→Analyst→Critic→Strategist→Writer | Tokens: ${totalTokens} (Groq Free)*`;\nconst telegramSummary = `*Weekly Intelligence - ${d.weekDate}*\\n\\n${execSummary.substring(0, 800)}\\n\\n_Full report in Google Drive | Tokens: ${totalTokens}_`;\n\nconst config = $('Set Weekly Config').first().json;\n\nreturn [{ json: {\n  markdownReport,\n  discordSummary,\n  telegramSummary,\n  weekDate: d.weekDate,\n  reportTitle: d.weekDate + ' Competitor Intelligence Report',\n  sheetsRow: {\n    weekDate: d.weekDate,\n    reportTitle: d.weekDate + ' Intelligence Report',\n    agentsCompleted: [...(d.agentChain||[]), 'Writer'].join(', '),\n    totalTokensUsed: totalTokens,\n    generatedAt: new Date().toISOString()\n  },\n  googleDriveFolderId: config.googleDriveFolderId,\n  googleSheetsId: config.googleSheetsId,\n  discordWebhookUrl: config.discordWebhookUrl,\n  telegramChatId: config.telegramChatId,\n  totalTokensUsed: totalTokens\n} }];"
      },
      "id": "node-29-format-report",
      "name": "Format Final Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5264, 704]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Reports",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "weekDate": "={{ $json.sheetsRow.weekDate }}",
            "reportTitle": "={{ $json.sheetsRow.reportTitle }}",
            "agentsCompleted": "={{ $json.sheetsRow.agentsCompleted }}",
            "totalTokensUsed": "={{ $json.sheetsRow.totalTokensUsed }}",
            "generatedAt": "={{ $json.sheetsRow.generatedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {"id": "weekDate", "displayName": "weekDate", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "reportTitle", "displayName": "reportTitle", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "agentsCompleted", "displayName": "agentsCompleted", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "totalTokensUsed", "displayName": "totalTokensUsed", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true},
            {"id": "generatedAt", "displayName": "generatedAt", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "node-30-sheets-save",
      "name": "Save Report to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [5504, 480],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst content = item.json.markdownReport || '# No Report Generated';\nconst fileName = (item.json.reportTitle || 'Competitor Intelligence Report') + '.md';\n\nreturn [{\n  json: item.json,\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      Buffer.from(content, 'utf-8'),\n      fileName,\n      'text/markdown'\n    )\n  }\n}];"
      },
      "id": "node-prep-file",
      "name": "Prepare Report File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5504, 688]
    },
    {
      "parameters": {
        "name": "={{ $json.reportTitle + '.md' }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FOLDER_ID",
          "mode": "id"
        },
        "options": {}
      },
      "id": "node-31-drive-save",
      "name": "Save Report to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [5712, 688],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Drive OAuth2"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Format Final Report').item.json.discordWebhookUrl }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "content", "value": "={{ $json.discordSummary.substring(0, 1999) }}"}
          ]
        },
        "options": {"timeout": 15000}
      },
      "id": "node-32-discord",
      "name": "Post to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5504, 928],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "node-34-error",
      "name": "Workflow Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [208, 1104]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_DISCORD_WEBHOOK_URL",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=**Intelligence System ERROR**\n\nWorkflow: {{ $json.workflow.name }}\nNode: {{ $json.execution.error.node?.name || 'Unknown' }}\nError: {{ $json.execution.error.message || 'Unknown error' }}\nTime: {{ $now.format('yyyy-MM-dd HH:mm') }}"
            }
          ]
        },
        "options": {"timeout": 15000}
      },
      "id": "node-35-discord-error",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [448, 1104],
      "continueOnFail": true
    },
    {
      "parameters": {"amount": 30},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3584, 512],
      "id": "638fa446-3cea-4f4a-a220-53b4ab030231",
      "name": "Wait",
      "webhookId": "62b66ba8-53c8-4975-803c-e48c05693f56"
    },
    {
      "parameters": {"amount": 30},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [4224, 512],
      "id": "2e45d884-74ad-4eee-aa85-adbffa2f9713",
      "name": "Wait1",
      "webhookId": "62b66ba8-53c8-4975-803c-e48c05693f57"
    },
    {
      "parameters": {"amount": 30},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [4912, 560],
      "id": "0499a14b-0370-4fdd-be0b-eee92b806b1c",
      "name": "Wait3",
      "webhookId": "62b66ba8-53c8-4975-803c-e48c05693f58"
    }
  ],
  "connections": {
    "Every Sunday 8PM": {
      "main": [[{"node": "Set Weekly Config", "type": "main", "index": 0}]]
    },
    "Set Weekly Config": {
      "main": [[
        {"node": "Fetch Competitor A Site", "type": "main", "index": 0},
        {"node": "Fetch Competitor B Site", "type": "main", "index": 0},
        {"node": "Fetch Competitor C Site", "type": "main", "index": 0},
        {"node": "RSS - Product Hunt", "type": "main", "index": 0},
        {"node": "RSS - Industry News", "type": "main", "index": 0},
        {"node": "Read Previous Week Data", "type": "main", "index": 0}
      ]]
    },
    "Fetch Competitor A Site": {
      "main": [[{"node": "Extract Competitor A Data", "type": "main", "index": 0}]]
    },
    "Fetch Competitor B Site": {
      "main": [[{"node": "Extract Competitor B Data", "type": "main", "index": 0}]]
    },
    "Fetch Competitor C Site": {
      "main": [[{"node": "Extract Competitor C Data", "type": "main", "index": 0}]]
    },
    "Extract Competitor A Data": {
      "main": [[{"node": "Aggregate All Sources", "type": "main", "index": 0}]]
    },
    "Extract Competitor B Data": {
      "main": [[{"node": "Aggregate All Sources", "type": "main", "index": 0}]]
    },
    "Extract Competitor C Data": {
      "main": [[{"node": "Aggregate All Sources", "type": "main", "index": 0}]]
    },
    "RSS - Product Hunt": {
      "main": [[{"node": "Aggregate All Sources", "type": "main", "index": 0}]]
    },
    "RSS - Industry News": {
      "main": [[{"node": "Aggregate All Sources", "type": "main", "index": 0}]]
    },
    "Aggregate All Sources": {
      "main": [[{"node": "Merge Current + History", "type": "main", "index": 0}]]
    },
    "Read Previous Week Data": {
      "main": [[{"node": "Merge Current + History", "type": "main", "index": 1}]]
    },
    "Merge Current + History": {
      "main": [[{"node": "Compare & Prepare Brief", "type": "main", "index": 0}]]
    },
    "Compare & Prepare Brief": {
      "main": [[{"node": "Prepare Scout Request", "type": "main", "index": 0}]]
    },
    "Prepare Scout Request": {
      "main": [[{"node": "Scout Agent [Groq]", "type": "main", "index": 0}]]
    },
    "Scout Agent [Groq]": {
      "main": [[{"node": "Parse Scout Output", "type": "main", "index": 0}]]
    },
    "Parse Scout Output": {
      "main": [[{"node": "Prepare Analyst Request", "type": "main", "index": 0}]]
    },
    "Prepare Analyst Request": {
      "main": [[{"node": "Analyst Agent [Groq]", "type": "main", "index": 0}]]
    },
    "Analyst Agent [Groq]": {
      "main": [[{"node": "Parse Analyst Output", "type": "main", "index": 0}]]
    },
    "Parse Analyst Output": {
      "main": [[{"node": "Prepare Critic Request", "type": "main", "index": 0}]]
    },
    "Prepare Critic Request": {
      "main": [[{"node": "Wait", "type": "main", "index": 0}]]
    },
    "Wait": {
      "main": [[{"node": "Critic Agent [Groq]", "type": "main", "index": 0}]]
    },
    "Critic Agent [Groq]": {
      "main": [[{"node": "Parse Critic Output", "type": "main", "index": 0}]]
    },
    "Parse Critic Output": {
      "main": [[{"node": "Prepare Strategist Request", "type": "main", "index": 0}]]
    },
    "Prepare Strategist Request": {
      "main": [[{"node": "Wait1", "type": "main", "index": 0}]]
    },
    "Wait1": {
      "main": [[{"node": "Strategist Agent [Groq]", "type": "main", "index": 0}]]
    },
    "Strategist Agent [Groq]": {
      "main": [[{"node": "Parse Strategist Output", "type": "main", "index": 0}]]
    },
    "Parse Strategist Output": {
      "main": [[{"node": "Prepare Writer Request", "type": "main", "index": 0}]]
    },
    "Prepare Writer Request": {
      "main": [[{"node": "Wait3", "type": "main", "index": 0}]]
    },
    "Wait3": {
      "main": [[{"node": "Writer Agent [Groq]", "type": "main", "index": 0}]]
    },
    "Writer Agent [Groq]": {
      "main": [[{"node": "Format Final Report", "type": "main", "index": 0}]]
    },
    "Format Final Report": {
      "main": [[
        {"node": "Save Report to Sheets", "type": "main", "index": 0},
        {"node": "Prepare Report File", "type": "main", "index": 0},
        {"node": "Post to Discord", "type": "main", "index": 0}
      ]]
    },
    "Prepare Report File": {
      "main": [[{"node": "Save Report to Google Drive", "type": "main", "index": 0}]]
    },
    "Workflow Error Handler": {
      "main": [[{"node": "Send Error Alert", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "binaryMode": "separate"
  },
  "pinData": {}
}
